@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Jaldi:wght@400;700&family=Judson:ital,wght@0,400;0,700;1,400&display=swap');

:root {
    --large-font-family: "Judson", Helvetica;
    --large-font-weight: 400;
    --large-font-size: 4rem;
    --large-letter-spacing: 0px;
    --large-line-height: normal;
    --large-font-style: normal;
    --button-text-font-family: "Jaldi", Helvetica;
    --button-text-font-weight: 400;
    --button-text-font-size: 1.25rem;
    --button-text-letter-spacing: 0px;
    --button-text-line-height: normal;
    --button-text-font-style: normal;
    --heading-font-family: "Judson", Helvetica;
    --heading-font-weight: 400;
    --heading-font-size: 3rem;
    --heading-letter-spacing: 0px;
    --heading-line-height: normal;
    --heading-font-style: normal;
    --product-name-font-family: "Judson", Helvetica;
    --product-name-font-weight: 700;
    --product-name-font-size: 1.5rem;
    --product-name-letter-spacing: 0px;
    --product-name-line-height: normal;
    --product-name-font-style: normal;
    --product-price-font-family: "Judson", Helvetica;
    --product-price-font-weight: 400;
    --product-price-font-size: 1.5rem;
    --product-price-letter-spacing: 0px;
    --product-price-line-height: normal;
    --product-price-font-style: italic;
    --main-font-family: "Judson", Helvetica;
    --main-font-weight: 400;
    --main-font-size: 1.5rem;
    --main-letter-spacing: 0px;
    --main-line-height: normal;
    --main-font-style: normal;
    --subhead-font-family: "Judson", Helvetica;
    --subhead-font-weight: 400;
    --subhead-font-size: 2.5rem;
    --subhead-letter-spacing: 0px;
    --subhead-line-height: normal;
    --subhead-font-style: normal;
    --nav-font-family: "Inter", Helvetica;
    --nav-font-weight: 400;
    --nav-font-size: 0.75rem;
    --nav-letter-spacing: 0px;
    --nav-line-height: normal;
    --nav-font-style: normal;
  }